*{
    background-color: #edf7ff;
}

h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 117px;
    color: #0a2ff1;
    margin-bottom: 0;
}
h3{
    font-family: 'asap', regular;
    font-size: 52px;
    color: #0a2ff1; 
    margin-top: 0; 
}
.boldWords{
    font-weight: bold;
}
p{
    font-family: 'asap', regular;
    font-size: 33px;
    color: #04146c; 
}

h4{
    font-family: 'MuseoModerno', cursive;
    font-size: 48px;
    color: #0a2ff1;  
}

ul{
    font-family: 'asap', bold;
    font-size: 33px;
    color: #04146c; 
}

#foot{
    font-family: 'MuseoModerno', bold;
    font-size: 198px;
    color: #8a9af1;   
}


